.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.inputCsvWp {
    border: 1px solid #c5c0c0;
    border-radius: 5px;
    height: 130px;
    width: 550px;
    position: relative;

}

.csvFile {
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: relative;
    z-index: 99;
}

.filename {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.tableWp {
    border: 1px solid #c5c0c0;
    border-radius: 10px;
    width: 100%;
    margin-top: 50px;
}

.table {
    width: 100%;
    border-radius: 5px;
    border-collapse: collapse;
}

.tableRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    border-bottom: 1px solid #c5c0c0;
}

.tableRow th {
    font-size: 18px;
    /* padding: 10px 0; */
}

.tableRow:last-child {
    border-bottom: none;
}

.tableData {
    border-right: 1px solid #c5c0c0;
    /* padding: 10px 0; */
    position: relative;
    cursor: pointer;
    font-size: 14px;
    min-height: 37px;
}

.tableData:last-child {
    border-right: none;
}

.rightClickMenu {
    display: inline-flex;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    position: absolute;
    top: 0;
    right: 50px;
    background-color: #fff;
    z-index: 1;
}

.rightClickMenu ul {
    padding: 17px 22px;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
}

.rightClickMenu ul li {
    list-style: none;
    padding: 7px 0;
    font-size: 14px;
    cursor: pointer;
    text-align: start;
}